@import "@/assets/css/var.scss";
@import "@/assets/css/global.scss";

@media screen and (min-width: $sm) {
  .sign {
    width: 300px;
    position: absolute;
    left: 60vw;
    top: $header-height + 60px;
  }
}

@media screen and (max-width: $sm) {
  .sign {
    width: 60vw;
    position: relative;
    margin: -78vh auto auto;
  }
}

.sign {
  padding: 35px 50px 10px;
  border-radius: 10px;

  .sign-head {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;

    span {
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .sign-btn:deep(.el-form-item__content) {
    @include layout(space-between);

    button {
      width: 50%;
      opacity: 0.9;
      border-radius: 5px;
    }
  }
}
